#modal-ajax-wait.modal{style: 'top: calc(50% - 150px) !important'}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Contacting server..
      .modal-body
        .progress
          .progress-bar.progress-bar-striped{ style: 'width: 100%' }

