%script#resources_table_template{type: 'text/template'}
  %table.table.table-condensed.table-striped.table-bordered#resources
    %thead
      %tr
        %th Description
        %th.cost Cost
        %th.buttons
          %button#append.btn.btn-xs.btn-primary Append
    %tbody

